ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.instruct {
  position: relative;
  margin-top: 100px;
  z-index: -1;
}

.navigation li {
  float: left;
}

nav {
  padding: 150px 500px;
}

ul input {
  background-color: #f1f1f1;
  padding: 6px;
  border: 1px solid #0051ba;
  margin-top: 8px;
  font-size: 16px;
  background: url('./imgs/nav-search.be9b20e02c34370711bd3b3cc86702f9.svg');
  background-repeat: no-repeat, repeat;
}

ul input[type='text'] {
  padding-left: 30px;
}

ul img {
  float: left;
  height: 47px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: #0051ba;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.search-input {
  float: right;
  margin-right: 50px;
}

#list-container {
  position: relative;
  display: block;
  border: 1px solid #d4d4d4;
}

.result {
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
}

.result:hover {
  background-color: lightgrey;
}
